## Project environment
# NOTICE : This file defines meta deployment variables and
# should not mention any "services environment variable"

# Current project environment configuration
# !! 'backup' is reserved
DEPLOY_ENV=production

# Default compose command
# It is used for Makefile commands overwriting
DOCKER_COMPOSE=docker compose -f {{.INFRA_DOCKER_PATH}}/docker-compose.yaml

